*{
    background-color: #10121b;

}
.App{
  font-family:  'Roboto', sans-serif;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;

}
.left{
  position: fixed;
  height: 100vh;
  flex-basis: 20%;
  border-right: 1px solid #2e344e;
  background-color: #191d2b;
}
.right1{
  height: auto;
  position: relative;
  left: 18vw;
  flex-basis: 80%;
}